<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1 style="color: #2c3e50;">Wlecome to Index page of this course</h1>
    
    
    <h2 style="color: #e74c3c;">Hope you will love it</h2>
    
    <h3 style="color: #3498db;">Have Fun!</h3>
   
</body>
</html>
